.footer {
clear: both;
	bottom: 0;
	left:0;
	width: 100%;
	position: absolute;
	margin: 0;
	margin-top: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	color: #ffffff;
	background-color: #333333;


}



.logo {
	width: 75px;

	border-radius: 30%;
	margin-right: 10px;
	
  }

 
.testo {
	font-family: arial;
	font-size: 100%;
}