
/***********************MENU********************** */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    /*menu fisso ma non va il dropdown*/
    /*position: sticky; 
    top: 0%;
    z-index: 1;*/
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdownlogo {
    float: left;
    overflow: hidden;
    margin-left:10%;
}

.dropdownlogo .dropbtnlogo {
    font-size: 120%;    
    border: none;
    outline: none;
    color: white;
    padding: .75em .75em .75em .75em; /*potrebbe essere sbagliato, perchè è la grandezza della barra ma dovrebbe stare nella navbar*/
    font-weight: bold;
    background-color: #333; /*serve per mettere lo sfondo sennò cambia*/
    width: 100%;
}

.dropbtnlogo a:link, .dropbtnlogo a:visited {
    text-decoration: none;
    color: white;
}

.dropdown .dropbtn {
    font-size: 120%;    
    border: none;
    outline: none;
    color: white;
    padding: .75em .75em .75em .75em; /*potrebbe essere sbagliato, perchè è la grandezza della barra ma dovrebbe stare nella navbar*/
    font-weight: bold;
    background-color: #333; /*serve per mettere lo sfondo sennò cambia*/
    width: 100%;
}

.navbar .dropdown:hover .dropbtn, .navbar .dropdownlogin:hover .dropbtnlogin {  /*occhio questo fa hover su tutti i link di dropbtn*/
    background-color: white;
    color: black;
}

i.fa.fa-caret-down { /*metto padding a freccetta*/
    padding-left: 0.5em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white; /*do not use #f9f9f9*/ /*oscuro signore*/
    width: 100%;
    left: 0;
    box-shadow: 0em 0.5em 0.7em 0em rgba(0,0,0,0.2); /*ombreggiatura della finestra, molto belo*/
    z-index: 1;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Create equal columns that floats next to each other */
.column1 {
    float: left;
    width: 20%;
    padding: 0em 0em 0.5em 0em;
    background-color: #ffffff;
    height: 100%;   /*da controllare come sistemare la %*/ /*prima era 13.5em*/
    font-size: 120%;
    
}

.column1 a {
    float: none;
    text-align: center;
    color: black;
    margin-left: 0em;
    padding: 0.25em 0em 0.25em 0em;
    text-decoration: none;
    display: block;
    font-size: 100%;
    

}



.column1 a:hover {
    background-color: #bbb;
    color: white;
}

.polaroid img {
    display: block;
    max-width: 90%;
    margin: auto;
    margin-top: 7.5%;
    display: flex;
    /*immagini ridimensionate a mano, chiedere perchè non va bene*/
    /*NOTA BENE: IMMAGINI
        1920x1080
    */
}

.polaroid img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); /*per fare il contorno alle immagini*/
}

.polaroid {
    float: left;
    width: 20%;
    padding: 0em;
    background-color: #ffffff;
    height: auto;   /*da controllare come sistemare la %*/ /*prima era 100%*/
}

.container {
    text-align: center;
    max-width: 90%;
    margin: auto;
    font-weight: bold;
}



/*********************************LOGIN*********************************/
.dropdownlogin {
    float: right;
    overflow: hidden;
    margin-right: 10%;
}

.dropdownlogin .dropbtnlogin {
    font-size: 120%;    
    border: none;
    outline: none;
    color: white;
    padding: .75em .75em .75em .75em; /*potrebbe essere sbagliato, perchè è la grandezza della barra ma dovrebbe stare nella navbar*/
    font-weight: bold;
    background-color: #333; /*serve per mettere lo sfondo sennò cambia*/
    width: 100%;
}

.dropdown-content-login {
    display: none;
    position: absolute;
    background-color: white;
    width: 10%;
    box-shadow: 0em 0.5em 0.7em 0em rgba(0,0,0,0.2); /*ombreggiatura della finestra, molto belo*/
    z-index: 1;
    text-align: center;
    margin: 0;
}

.dropdownlogin:hover .dropdown-content-login {
    display: block;
}

.form { /*dentro la dropdown*/
    text-align: left;
}

.containerlogin {
    padding: 1%;
}

.dropdown-content-login input[type=text], .dropdown-content-login input[type=password] {
    width: 100%;
    padding: 3% 1.5% 3% 1.5%;
    margin: 0.5em 0em;  /*da sistemare*/
    display: inline-block; /*non so cosa faccia di preciso*/
}

label {
    font-weight: bold;
    padding-left: 1%;
}

.logsigninbtn {
    background-color: #333;
    color: white;
    padding: 3% 1.5% 3% 1.5%;
    margin: 1% 0;
    border: none;
    cursor: pointer;
    width: 100%;
    color: white;
}

.span.psw {
    float: right;
    padding-top: 16px;
}


/************************ FILTRO CSS***************************/

.filtro {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
	margin-left: 10%;
	width: 10%;
	float: left;
}

.filtro h5 {
	text-align: left;
	margin-bottom: 0.5em; /* spazio tra Classe e sottoclassi (ES tra xbox e one)*/
	color: #333;
	padding-left: 15%;
	font-family: Arial;
}
.elenco {
	display:block;
    position: relative;
	padding: 0% 0% 5% 20%; /*sposta le righe (cerchio + parole)*/
    margin-bottom: 1%;
    cursor: pointer;
    font-size: 80%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: Arial;
}

.elenco input {
    position: absolute;
    opacity: 0;
}

.checkmark {
	display: block;
    position: absolute;
    top: 0.15em;  /*centra il cerchio allinea con le parole*/
    left: 8%;
    height: 0.7em;/* grandezze cerchio*/
    width: 0.7em;
    background-color: #ccc; /*colore normale*/
    border-radius: 35%;
}

.elenco:hover input ~ .checkmark {
    background-color: #eee;   /*colore quando vado sopra il cerchio*/
}

.elenco input:checked ~ .checkmark {
    background-color: #333; /*colore quando clicco sul cerchio*/
}

.piattaforme {
	margin-bottom: 0.7em;
}
.piattaforme h4 {
	font-family: Arial;
	padding-left: 8%;
	padding-top: 10%;
	margin-top: 0%;
	color: #333;
}
.data {
	border-top: 1px solid #333;
}
.data h4{
	font-family: Arial;
	padding-left: 8%;
	padding-top: 10%;
	margin-top: 0%;
	color: #333;
}



/*************************** PARTE CSS REVIEW *************************/

.generale {
  margin-left: 20%;
 background-color: #d9d9d9;
 margin-right:10%; 

 
}



/********************* IMG PRIMO PIANO ******************************/

.container {
  position: relative;
 
  margin: 0;

  
}

.image {
  
  width: 100%;
  height: auto;
 margin-top: 2%;
 margin-bottom: 2%;
 
}

.overlay {
  position: absolute;
  bottom:10.1%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 20%;
  
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

			/*****DEFINIZIONE COLONNE******/


.column {
    float: left;
    padding: 10px;
    height: 200px; /*altezza colonne*/
    
}

.left { /*definisco la column left*/
  width: 18%;
  background-color: green;
  
}

.right { /*definisco la column right*/
  width: 82%;
  background-color: yellow;
  
}

			/******* COLONNA SINISTRA ****/



.imgrec {
  max-width:  70%;
  margin-left: 20px;

}


			/******** COLONNA DESTRA ******/




.testorec{
text-align:left;
position:relative;
margin-top: 10px;
margin-right: 20px;
}








