@page {
	size: A4;
}


/*********HOMEPAGE**********/

.navbar, .dropdownlogo, .dropdown, .dropdown-content, .polaroid, .dropdownlogin, .footer, .sandwich, .hamburger, .menu, .backtotopbtn
button.backtotop, button.deletebtn, button.deletebtnVID, button.deletebtnUL {
	
	
	display: none ;
}

a.prev, a.next, .dottod, .dot, .dot active {
	display: none;
}

.slides-content {

	max-width: 100%;
	position: relative;
	padding-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	
	
}

.mySlides img {
	max-width:100%;
	
}

.textslide {
	position: relative;
	padding: 2%;
	font-size: 90%;
}

/************* NOTIZIE, REC*****************/

.filtro, .lastnews, .pagbtn, .backtotop{
	display: none !important;
}

.Notizia {
	padding-left: 3%;
	padding-top: 0%;
	padding-bottom: 3%;
	
}
.notizie {
  width: 90%;
	float: left;
	margin-bottom: 0%;
	margin-top: 5%;
	
	page-break-inside: avoid;
	border: 3px solid ;
	padding: 2% 2% 2% 2%;
}

.columnleft img {
  width:  40%;
  float: left;
}

 div.notizie {
 	page-break-inside: avoid;
}
			/******** COLONNA DESTRA ******/

.columnright {
  width: 60%;
  height: auto;
  float: left;
}

.titolonews {
  text-align: left;
  font-size: 100%;
  padding-top: 3%;
  padding-left: 5%;
}


 .titolonews a {
 color: black;
}
 
 
/******* Dentro notizia E REC***/

.pagnotizia {
  margin: 0% 10% 0 10%;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  
  font-family: Arial;
}

.titolonotizia h1{
  text-align: left;
  font-size: 170%;
  margin: 0;
}

.adminews h4{
  color: #ccc;
}

.imgnotizia {
	display: none;
}

.imgnotizia img{
  width: 100%;
  padding-bottom: 2%;
}

.testonotizia {
  text-align: left;

}

.inscommenti {
 display: none;
}

.commenti {
  padding-top: 3%;
}

.commenti h5 {
  margin: 0;
  color: #ccc;
}

.commenti p {
  margin: 0;
  padding-top: 1%;
  padding-bottom: 2%;
 
}


/******** VIDEOGIOCHI *****/
 .immagine2, .desc a:link {
	display: none;
}

.videogiochi, {
	margin: 5%;
	width: 100%;
	
	
}


.giochi, .giochiPiccolo {
	
	
	width: 100%;
	position: relative;
	
}

.scheda {
	width: 90%;
	float: left;
	margin: 10% 5% 0 3%;
	
	border: 3px solid #333333;
	padding: 2% 2% 2% 2%;
}

div.scheda {
	page-break-inside: avoid;
}

.scheda h3 {
  margin: 2% 0;
}
.immagine1 {
	max-width: 20%;
	margin-right: 2%;
	margin-bottom: 15%;
	float: left;
}

.desc{
	margin: 0.5em 0.5em 0 0.5em;

}




/******* agg gioco login ****/

.localA, .aggiungibtnA, .backtotopbtn, .registrazionebtn {
	display: none;
}
.opzioniA {
	max-width:90%;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	font-family: Arial;
	
	margin-top: 2%;
}
.opzioniA h3 {
	text-align: center;
}
.rigaA {
	text-align: center;
}



.rigaA h4 {
   margin-top: 0%;
   margin-bottom: 0%;
}



.AggA {
	float: left;
	border: 3px solid #333;
	margin-bottom: 5%;
}


div.AggA{
	page-break-inside: avoid;
}



.aggiungi-contentA input, .aggiungi-contentA textarea{
    width: 80%;
    display: inline-block; /*come un float, solo senza il clear nel div successivo*/
	margin-bottom: 2%;
	text-align: center;
}

.aggiungi-contentA textarea {
	text-align:left;
}

.elencoA input {
	width: auto;
}
 .elencoA .checkmark {
	display:none;
}






