* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 120%;
    color: white;
    text-align: center;
    padding: .75em .75em .75em .75em;	
    text-decoration: none;
	font-weight: bold;
	
	margin-left: 2%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 120%;    
    border: none;
    outline: none;
    color: white;
    padding: .75em .75em .75em .75em;
    background-color: inherit;
	font-weight: bold;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
	color: black;
	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit; /*do not use #f9f9f9*/
    width: 100%;
    left: 0;
    box-shadow: 0em 0.5em 0.7em 0em rgba(0,0,0,0.2); /*ombreggiatura della finestra, molto belo*/
    z-index: 1;
	
	text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Create equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 0em;
    background-color: #ffffff;
    height: 11.5em;	/*da controllare come sistemare la %*/
	
	

}

.column a {
    float: none;
	
    color: black;
    padding: 0.5em 0em 0.25em 0em;
    text-decoration: none;
    display: block;
	
}

.column a:hover {
    background-color: #333;
	color: white;
}

#top4 {
	display: block;
	max-width: 90%;
	margin: auto;
	
	margin-top: 7.5%;
	
	height: auto;
	
    display: flex;
}

#top4:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.polaroid {
    float: left;
    width: 20%;
    padding: 0em;
    background-color: #ffffff;
    height: auto;	/*da controllare come sistemare la %*/ /*prima era 100%*/

	
}

.container{
	text-align: center;
	max-width: 90%;
	margin: auto;
	
	font-weight: bold;
}

.search input[type=text] {
	width: 10%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 100%;
    background-color: white;

	padding: .75em .75em .75em .75em;
	
	float: left; /*così Log in sta a sx*/
	
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search input[type=text]:focus {
    width: 50%;
}

#login {
	display: block;
	width: 2.5%;
	margin-left: 95.5%;	/*così lo metto in fondo a dx*/ /*NB lascio 2% spazio*/
	
	height: auto;
    display: flex;
}