* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
	/*menu fisso ma non va il dropdown*/
	/*position: sticky; 
	top: 0%;
	z-index: 1;*/
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdownlogo {
    float: left;
    overflow: hidden;
	margin-left:10%;
}

.dropdownlogo .dropbtnlogo {
    font-size: 120%;    
	border: none;
    outline: none;
    color: white;
    padding: .75em 1.5em .75em 0em;
	font-weight: bold;
	background-color: #333; /*serve per mettere lo sfondo sennò cambia*/
	width: 100%;
}

.dropbtnlogo a:link, .dropbtnlogo a:visited {
	text-decoration: none;
	color: white;
}

.dropdown .dropbtn {
    font-size: 120%;    
    border: none;
    outline: none;
    color: white;
    padding: .75em 1.5em .75em 1.5em; /*potrebbe essere sbagliato, perchè è la grandezza della barra ma dovrebbe stare nella navbar*/
	font-weight: bold;
	background-color: #333; /*serve per mettere lo sfondo sennò cambia*/
	width: 100%;
}

.navbar .dropdown:hover .dropbtn, .navbar .dropdownlogin:hover .dropbtnlogin {	/*occhio questo fa hover su tutti i link di dropbtn*/
    background-color: white;
	color: black;
}

i.fa.fa-caret-down { /*metto padding a freccetta*/
	padding-left: 0.5em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white; /*do not use #f9f9f9*/ /*oscuro signore*/
    width: 100%;
    left: 0;
    box-shadow: 0em 0.5em 0.7em 0em rgba(0,0,0,0.2);
    z-index: 1;
	text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Create equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 0em 0em 0.5em 0em;
    background-color: #ffffff;
    height: 100%;	/*da controllare come sistemare la %*/ /*prima era 13.5em*/
	font-size: 120%;
}

.column a {
    float: none;
	text-align: center;
    color: black;
	margin-left: 0em;
    padding: 0.25em 0em 0.25em 0em;
    text-decoration: none;
    display: block;
	font-size: 100%;
}

.column a:hover {
    background-color: #333;
	color: white;
}

.polaroid img {
	display: block;
	max-width: 90%;
	margin: auto;
	margin-top: 7.5%;
    display: flex;
	/*immagini ridimensionate a mano, chiedere perchè non va bene*/
	/*NOTA BENE: IMMAGINI
		1920x1080
	*/
}

.polaroid img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);	/*per fare il contorno alle immagini*/
}

.polaroid {
    float: left;
    width: 20%;
    padding: 0em;
    background-color: #ffffff;
    height: auto;	/*da controllare come sistemare la %*/ /*prima era 100%*/
}

.container {
	text-align: center;
	max-width: 90%;
	margin: auto;
	font-weight: bold;
}



/*********************************LOGIN*********************************/
.dropdownlogin {
    float: right;
    overflow: hidden;
	margin-right: 10%;
}

.dropdownlogin .dropbtnlogin {
    font-size: 120%;    
    border: none;
    outline: none;
    color: white;
    padding: .75em 0em .75em 1.5em; /*potrebbe essere sbagliato, perchè è la grandezza della barra ma dovrebbe stare nella navbar*/
	font-weight: bold;
	background-color: #333; /*serve per mettere lo sfondo sennò cambia*/
	width: 100%;
}

.dropdown-content-login {
	display: none;
	position: absolute;
    background-color: white;
    width: 10%;
    box-shadow: 0em 0.5em 0.7em 0em rgba(0,0,0,0.2);
    z-index: 1;
	text-align: center;
	margin: 0;
}

.dropdownlogin:hover .dropdown-content-login {
    display: block;
}

.form { /*dentro la dropdown*/
	text-align: left;
}

.containerlogin {
    padding: 1%;
}

.dropdown-content-login input[type=text], .dropdown-content-login input[type=password] {
    width: 100%;
    padding: 3% 1.5% 3% 1.5%;
    margin: 0.5em 0em;	/*da sistemare*/
    display: inline-block; /*non so cosa faccia di preciso*/
}

label {
	font-weight: bold;
	padding-left: 1%;
}

.logsigninbtn {
    background-color: #333;
    color: white;
    padding: 3% 1.5% 3% 1.5%;
    margin: 1% 0;
    border: none;
    cursor: pointer;
    width: 100%;
	color: white;
}

.span.psw {
    float: right;
    padding-top: 16px;
}

/*********************************CONTENUTO HOME PAGE*********************************/
/* Slideshow container */
.pagecontent {
	top:0;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	margin-left: 10%;
	margin-right: 10%;
}

.slides-content {
	max-width: 100%;
	position: relative;
	padding-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	overflow: hidden;
}

.mySlides {
	display:none
	position: relative;
	margin: 0;
}

.mySlides img {
	max-width: 100%;
	margin-bottom: -1%; /*viene fuori il bordo sotto, va tolto*/
}

.mySlides .textslide {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #ffffff;
	width: 100%;
	padding: 0% 1% 0% 1%;
}
